<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313532367389-sqanhra284k7tds0pdmqe3bmf5n4arcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313532367389-sqanhra284k7tds0pdmqe3bmf5n4arcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDP-el6YLDiW7708Yup6h9HI0jjJegpDKw</string>
	<key>GCM_SENDER_ID</key>
	<string>313532367389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailyune.Dune</string>
	<key>PROJECT_ID</key>
	<string>dune-78e24</string>
	<key>STORAGE_BUCKET</key>
	<string>dune-78e24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313532367389:ios:e459563faf2586034b3cf4</string>
	<key>DATABASE_URL</key>
	<string>https://dune-78e24.firebaseio.com</string>
</dict>
</plist>